<div class="home">
  <h1 class="display-3">Hello, My friend!</h1>
  <p class="lead">This is a simple user management application built with Express & Redis</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/dudueasy/Redis_Express_User_Management" role="button">Learn more</a>
  </p> 
</div>
