body{
  padding-top:120px

}
.home{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center
}
.search_user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center 
}

.user-info-list{
  display: flex;
  flex-direction:row;
  /* justify-content:space-between;  */
}

.form-area{
  margin-top: 20px;
  margin-bottom: 20px;
}
